{% extends "site_base.html" %}

{% block body_class %}blog blog-post{% endblock %}

{% block head_title_base %}{{ blogpost.title }} | {{ SITE_NAME }}{% endblock %}

{% block search_bar %}
    <div class="search">
        <form class="form-search" action="/blog">
            <label><i class="fa fa-search"></i></label>
            <input class="form-control" type="search" placeholder="Search..." name="q" value="">
        </form>
    </div>
{% endblock %}

{% block body %}
{% block content %}
    <div class="post-detail">
        <div class="post">
            <h1>{{ blogpost.title }}</h1>
            {% include "blog/dateline_stale.html" %}

            <!--<div class="teaser">{{ blogpost.teaser|safe }}</div>-->

            <div class="content">{{ blogpost.body|safe }}</div>

        </div>
    </div>

    {% include "_disqus.html" %}
{% endblock %}
{% endblock %}
