{% extends "site_base.html" %}

{% load i18n %}

{% block head_title_base %} About | {{ SITE_NAME }}{% endblock %}

{% block search_bar %}
    <div class="search">
        <form class="form-search" action="/">
            <label><i class="fa fa-search"></i></label>
            <input class="form-control" type="search" placeholder="Search..." name="q" value="">
        </form>
    </div>
{% endblock %}

{% block body %}
{% block content %}
<div class="text-justify col-md-offset-1 col-lg-offset-1">
    <br>
    <div class="post-detail">
        <div class="post">
            <div class="content">{{ aboutpost.body|safe }}</div>
        </div>
</div>
{% endblock %}
{% endblock %}
