{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load sekizai_tags %}
{% load bootstrap %}

{% block title %}联系{% endblock title %}
{% block content %}
<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 formal-black">
    {% if messages %}
		<div class="alert alert-success">
			{% for message in messages %}
	    		{{ message }}
	    	{% endfor %}
		</div>
	{% endif %}

    <!--<ul class="ul-contact">-->
		<!--<li class="upper">address:&nbsp;&nbsp;<span>{{ current_site.config.address }}</span></li></br>-->
		<!--<li class="upper">phone:&nbsp;&nbsp;<span>{{ current_site.config.phone }}</li>-->
	<!--</ul>-->

    <br><br>
    <form action="{% url 'apply_view' %}" method="POST">
		{% csrf_token %}
		{{ form|bootstrap }}
		<button class="btn btn-primary btn-contact">提交</button>
	</form>

    <br><br>
</div>
{% endblock %}