{% load i18n %}
{% load staticfiles %}
{% load sekizai_tags %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="test-site.description">
    <meta name="author" content="test.yyq">

    <title>{% block title %}{% endblock title%}</title>
    <!--<style type="text/css">-->
        <!--body{color:#efd;background:#453;padding:0 5em;margin:0}-->
        <!--h1{padding:2em 1em;background:#675}-->
        <!--h2{color:#bf8;border-top:1px dotted #fff;margin-top:2em}-->
        <!--p{margin:1em 0}-->
    <!--</style>-->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    {% compress css %}
    <link rel="stylesheet" href="{% static 'css/magister.css' %}">
    <link media="screen" rel="stylesheet" href="{% static 'css/bootstrap-combined.min.css' %}">
    {% endcompress %}
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>
    {% render_block "css" %}
</head>
<body class="theme-invert">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
    	<div class="navbar-header">
        	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            	<span class="sr-only">Toggle navigation</span>
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
          	</button>
          	<!--<a class="navbar-brand navbar-left" href="/">首页</a>-->
        </div>
        <div id="navbar">
            <div class="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">首页</a>
                    </li>

                    <li>
                        <a href="/blog/">文章</a>
                    </li>

                    <li>
                        <a href="/apply/">联系</a>
                    </li>

                    <li>
                        <a href="/about/">关于</a>
                    </li>

                </ul>
            </div>
        </div>
  	</div>
</nav>

<div class="container-fluid">
    {% block before_content %}{% endblock before_content %}
	<div class="row">
        <br><br>
		{% block content %}{% endblock content %}
	</div>
</div>

<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-2.0.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-ui' %}"></script>
<script src="{% static 'js/modernizr.custom.72241.js' %}"></script>
<script src="{% static 'js/magister.js' %}"></script>
{% render_block "js" %}
</body>
</html>