{% extends "base.html" %}
{% block title %}首页{% endblock title %}
{% block content %}

<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">
    <!--<h1 class="title">-->
        <!--{% if current_site.config.logo_active %}-->
            <!--<img src="{{ current_site.config.logo_original_url }}" alt="{{ current_site.name }}">-->
		<!--{% else %}-->
			<!--{{ current_site.name }}-->
		<!--{% endif %}-->
    <!--</h1>-->
    <h2 class="subtitle" style="color:#000000">asdfadfadf</h2>
    <div class="row">
        <div class="hero-unit">
            <h1>
                Welcome Here...
            </h1>
            <p>
                test, 測試，测试
            </p>
            <p>
                1111111111111111111111
            </p>
            <p>
                <a class="btn btn-primary btn-large" href="/blog/">
                    BLOG详细
                </a>
            </p>
        </div>
    </div>
</div>

{% endblock %}
