{% extends "site_base.html" %}

{% load i18n %}

{% block search_bar %}
    <div class="search">
        <form class="form-search" action="/">
            <label><i class="fa fa-search"></i></label>
            <input class="form-control" type="search" placeholder="Search..." name="q" value="">
        </form>
    </div>
{% endblock %}

{% block body %}
{% block content %}
    {% if home_list %}
        <div class="post-list">
            {% for post in home_list %}
                <div class="post">
                    <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                    <p class="post-meta">
                        <span class="date">{% if post.publish_time %}{{ post.publish_time|date:"Y.m.d" }}{% else %}Not published yet{% endif %}</span> /
                        by <span class="author">{{ post.author.username }}</span>
                        in <a href="{{ post.get_app_url }}"><span class="text-info">{{ post.get_app_name }}</span> </a>
                    </p>
                    <div class="teaser">{{ post.teaser|safe }}</div>
                    <p class="more"><a href="{{ post.get_absolute_url }}" class="post-link">read more...</a></p>
                </div>
            {% endfor %}
        </div>
        {% include "pagination/builtin_pagination_reverse.html" %}
    {% else %}
        <p class="alert alert-info lead">暂无内容。</p>
    {% endif %}
{% endblock %}
{% endblock %}
